@charset "UFT-8";

* {
    margin: 0px;
}

body, html {
    background-color: rgb(37, 120, 175);
}

main {
    margin: auto;
    width: 500px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
}